<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>

        {% extends "layout.html" %}
        {% block content %}

        <h1> Dashboard de Ventas</h1>

        <div class="card">
        <h2>ventas por día</h2>
        <canvas id="ventasDia"></canvas>
        </div>

        <div class="card">
        <h2>Ganancia por día</h2>
        <canvas id="gananciasDia"></canvas>
        </div>

        <div class="card">
        <h2>Top productos</h2>
        <canvas id="topProductos"></canvas>
        </div>

        <script>
            const fechas = JSON.parse('{{ fechas | tojson | safe }}');
            const totales = JSON.parse('{{ totales | tojson | safe }}');

            const fechasGanancia = JSON.parse('{{ fechas_ganancia | tojson | safe }}');
            const totalesGanancia = JSON.parse('{{ totales_ganancia | tojson | safe }}');

            const labelsTop = JSON.parse('{{ labels_top | tojson | safe }}');
            const valoresTop = JSON.parse('{{ valores_top | tojson | safe }}');

            new Chart(document.getElementById('ventasDia'), {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'Ventas',
                        data: totales
                    }]
                }
            });

            new Chart(document.getElementById('gananciasDia'), {
                type: 'line',
                data: {
                    labels: fechasGanancia,
                    datasets: [{
                        label: 'Ganancias',
                        data: totalesGanancia
                    }]
                }
            });

            new Chart(document.getElementById('topProductos'), {
                type: 'bar',
                data: {
                    labels: labelsTop,
                    datasets: [{
                        label: 'Más vendidos',
                        data: valoresTop
                    }]
                }
            });
        </script>

        {% endblock %}
    </body>
</html>